<html>
<br>
<ngb-alert type="success">Administration Collegues</ngb-alert>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-4">
      <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
    </div>
    <div class="col-12 col-sm-8">
      <app-collegue [collegue]="collegue1"></app-collegue>
      <app-collegue [collegue]="collegue2"></app-collegue>
      <app-collegue [collegue]="collegue3"></app-collegue>
      <a href="#" (click)="creer()">Créer un nouveau collègue</a>
    </div>
  </div>
  <br />
</div>

</html>