<div *ngIf="afficherCollegue">
    <button type="button" class="btn btn-primary ml-2" (click)="afficherGallerie()">Afficher la gallerie</button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4">
                <app-recherche-collegue-par-nom></app-recherche-collegue-par-nom>
            </div>
            <div class="col-12 col-md-8">
                <app-collegue [collegue]="collegue"></app-collegue>
            </div>
        </div>
        <br />
    </div>
</div>
<div *ngIf="!afficherCollegue">
    <span *ngFor="let photo of photos">
        <a (click)="chargerCollegue(photo.matricule)"><img src={{photo.photoUrl}} /></a>
    </span>
</div>