html{
    font-family: "Comic Sans MS";
}
img{
    float: left;
    margin : 5px;
}
td{
    width: 200px;
    display: inline-block;
}
tr{
    margin: 5px;
}
.cardModel{
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
    
}