<html>
<img src="../assets/photo.png" alt="photo" />
<div class="offset-1 offset-sm-1 offset-md-1 offset-lg-1 col-12 col-sm-12 col-md-7 col-lg-6">
    <table>
        <tbody>
            <tr>
                <td>Matricule : </td>
                <td>{{collegue.matricule}}</td>
            </tr>
            <tr>
                <td>Nom : </td>
                <td>{{collegue.nom}}</td>
            </tr>
            <tr>
                <td>Prénoms : </td>
                <td>{{collegue.prenoms}}</td>
            </tr>
            <div *ngIf="affichage; else elseBlock2">
                <tr>
                    <td> Date de naissance : </td>
                    <td>{{collegue.dateDeNaissance.toLocaleDateString()}}</td>
                </tr>
                <tr>
                    <td>Email : </td>
                    <td>{{collegue.email}}</td>
                </tr>
            </div>
            <ng-template #elseBlock2>
                <tr>
                    <td><label for="dateDeNaissance">Date de naissance : </label></td>
                    <td><input type="date" name="dateDeNaissance" id="dateDeNaissance" value="{{collegue.dateDeNaissance.toLocaleDateString()}}"/></td>
                </tr>
                <tr>
                    <td><label for="email">Email : </label></td>
                    <td><input type="text" name="email" id="email" value="{{collegue.email}}"/></td>
                </tr>
            </ng-template>
        </tbody>
    </table>
    <br />
        <div *ngIf="affichage; else elseBlock">
            <button type="button" class="btn btn-primary" (click)="modifier()">Modifier</button>
        </div>
        <ng-template #elseBlock>
            <button type="button" class="btn btn-primary" (click)="valider()">Valider</button>
        </ng-template>
    <br /><br />
</div>

</html>